## Ejercicio 1: Compra de un videojuego

In [2]:

import pandas as pd
import numpy as np
pd.set_option("display.width", 140)

In [5]:

vals_P = ["Alto","Medio","Bajo"]
vals_G = ["Acción","Aventura","Estrategia","Otros"]
vals_CP = ["Alta","Baja"]
vals_Pl = ["Consola","PC"]
vals_A = ["Sí","No"]

rng = np.random.default_rng(42)

def compra(P, CP, A):
    score = {"Alto":-1,"Medio":0,"Bajo":1}[P] + {"Alta":1,"Baja":-1}[CP] + {"Sí":1,"No":0}[A]
    return "Sí" if rng.random() < 1/(1+np.exp(-score)) else "No"

rows=[]
for _ in range(500):
    P=rng.choice(vals_P); G=rng.choice(vals_G)
    CP=rng.choice(vals_CP); Pl=rng.choice(vals_Pl); A=rng.choice(vals_A)
    rows.append([P,G,CP,Pl,A,compra(P,CP,A)])

df=pd.DataFrame(rows,columns=["Precio","Genero","Criticas","Plataforma","Amigos","Compra"])
df.head()

  Precio    Genero Criticas Plataforma Amigos Compra
0   Alto     Otros     Baja    Consola     Sí     No
1   Bajo    Acción     Alta         PC     No     Sí
2   Bajo     Otros     Baja    Consola     No     Sí
3  Medio    Acción     Baja         PC     No     No
4  Medio  Aventura     Alta    Consola     Sí     Sí

In [4]:

for col in ["Precio","Genero","Criticas","Plataforma","Amigos"]:
    print(f"\nP(Compra | {col})")
    display(pd.crosstab(df[col],df["Compra"],normalize="index").round(3))

P(Compra | Precio)

Compra     No     Sí
Precio
Alto    0.519  0.481
Bajo    0.243  0.757
Medio   0.401  0.599

P(Compra | Genero)

Compra         No     Sí
Genero
Acción      0.419  0.581
Aventura    0.361  0.639
Estrategia  0.371  0.629
Otros       0.385  0.615

P(Compra | Criticas)

Compra       No     Sí
Criticas
Alta      0.194  0.806
Baja      0.579  0.421

P(Compra | Plataforma)

Compra         No     Sí
Plataforma
Consola     0.381  0.619
PC          0.387  0.613

P(Compra | Amigos)

Compra     No     Sí
Amigos
No      0.483  0.517
Sí      0.295  0.705

In [6]:

priors=df["Compra"].value_counts(normalize=True)
priors

Compra
Sí    0.616
No    0.384
Name: proportion, dtype: float64