## Ejercicio 2: Éxito de una misión

In [5]:

import pandas as pd
import numpy as np
pd.set_option("display.width", 140)

In [2]:

vals=["Bajo","Medio","Alto"]
rng=np.random.default_rng(7)

def exito(n,s):
    return "Sí" if rng.random() < (0.3 if n=="Bajo" else 0.6 if n=="Medio" else 0.85) else "No"

rows=[]
for _ in range(500):
    NE=rng.choice(vals); EQ=rng.choice(vals); H=rng.choice(vals)
    S=rng.choice(vals); EM=rng.choice(["Positivo","Neutral","Negativo"])
    rows.append([NE,EQ,H,S,EM,exito(NE,S)])

df=pd.DataFrame(rows,columns=["NivelExp","Equipamiento","Habilidades","Salud","EstadoMental","Exito"])
df.head()

  NivelExp Equipamiento Habilidades  Salud EstadoMental Exito
0     Alto        Medio        Alto   Alto      Neutral    Sí
1     Alto         Bajo        Bajo   Bajo     Negativo    Sí
2    Medio         Alto        Bajo   Alto     Positivo    Sí
3    Medio        Medio        Bajo   Alto     Positivo    Sí
4    Medio        Medio       Medio  Medio      Neutral    No

In [3]:

for col in ["NivelExp","Equipamiento","Habilidades","Salud","EstadoMental"]:
    print(f"\nP(Éxito | {col})")
    display(pd.crosstab(df[col],df["Exito"],normalize="index").round(3))

P(Éxito | NivelExp)

Exito        No     Sí
NivelExp
Alto      0.143  0.857
Bajo      0.706  0.294
Medio     0.315  0.685

P(Éxito | Equipamiento)

Exito            No     Sí
Equipamiento
Alto          0.364  0.636
Bajo          0.373  0.627
Medio         0.380  0.620

P(Éxito | Habilidades)

Exito           No     Sí
Habilidades
Alto         0.369  0.631
Bajo         0.368  0.632
Medio        0.380  0.620

P(Éxito | Salud)

Exito     No     Sí
Salud
Alto   0.371  0.629
Bajo   0.414  0.586
Medio  0.337  0.663

P(Éxito | EstadoMental)

Exito            No     Sí
EstadoMental
Negativo      0.383  0.617
Neutral       0.333  0.667
Positivo      0.399  0.601

In [4]:

priors=df["Exito"].value_counts(normalize=True)
priors

Exito
Sí    0.628
No    0.372
Name: proportion, dtype: float64